{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% load static %}

{% block content %}

  
      <div class=" BackGround-home  ">
          <div class="Main-page container-fluid ">
              <div class=" row main-box ">
              <div class="d-flex flex-column justify-content-center" style="padding-top: 5rem; ">
              <h2 class="main-h1  col-12 col-md-10 "   data-aos="fade-right" data-aos-duration="2000">THE RED ZONE WITH CALDARELLI</h2><br>
              <h1 class="col-8 col-md-5 "  data-aos="fade-right" data-aos-duration="2000">
                  TEMERARIO: BEYOND THE LIMIT
              </h1>
              </div>
              
              </div>
          </div>
      </div>
                              <!-- MotorSport Page-2 -->
      <div class="MotorSport " id="MotorSport">
        <div class="container-fluid">
        <div class="MotorSport-box container-fluid row">
        <div class="MotoSub-1 d-lg-flex mb-md-4 col-12 ">
          <div class="Moto-1-1 order-lg-1 mb-md-4 col-12 col-lg-6">
            <img class="col-12 col-lg-10" src="{% static 'images/box-1.jpg' %}" data-aos="fade-right" data-aos-duration="1500"  alt="Car-Images-1" style="max-width:100%;height:auto;">
          </div>
          <div class="Moto-1-2  text-start text-md-end order-lg-2  col-12 col-lg-6"  data-aos="fade-down"  data-aos-duration="1000"> 
            <article>
              <h2>SQUADRA CORSE</h2>
              <p>Squadra Corse is the name of Automobili Lamborghini’s motorsport department. It was created to offer unparalleled support to Automobili Lamborghini’s customers in the field. The cars that compete in the most prestigious GT championships all over the world are designed and produced in-house by Squadra Corse. It also organizes the Lamborghini Super Trofeo: the fastest one-make championship in the world.</p>
            </article>
          </div>
        </div>
        <div class="MotoSub-2  d-lg-flex col-12 ">
          <div class="Moto-2-1 order-lg-2   col-12 col-lg-6">
            <img class="col-12 col-lg-10 " src="{% static 'images/box-2.jpg' %}" data-aos="fade-left" data-aos-duration="1500" alt="image-2" style="max-width:100%;height:auto;">
          </div>
          <div class="Moto-2-2  text-start order-lg-1 col-12 col-lg-7 pe-5"  data-aos="fade-up" data-aos-duration="1000">
           <article>
            <h2>GT CUSTOMER RACING</h2>
            <p>In contrast with the Super Trofeo, GT3 championships are open to a range of constructors. There are more than 20 Automobili Lamborghini customer teams who have chosen to compete in Huracán GT3 EVO race cars. Since the Huracán GT3 launch in 2015, the cars have claimed more than 40 titles on a global scale. What better calling card could there be for Automobili Lamborghini on the GT racing scene?</p>
           </article>
          </div>
        </div>
      </div> 
      </div>
      <div class="br" style="border:  1px solid white;"></div>
      </div>
      
{% endblock %}