{% extends 'base.html' %}
{% block title %} SERVICE {% endblock %}

{% block content %}
{% load static %}

<div class="service-backgtound">
<div class="container-fluid d-flex flex-column justify-content-center align-items-start  vh-100"
    style=" padding-left: 10%;">
    <div class="row ">
        <div class="lam-font">LAMBORGHINI</div>
        <h2 class="lam-h2" data-aos="fade-right" data-aos-duration="1500">SERVICE CAPALLE</h2>
        <div class="" style="font-size: 40px; "><a href="#service-backgtound-2"><i class="bi bi-box-arrow-down" style="color: white;"></i></a></div>
    </div>
</div>
</div>
<div style="border: 1px solid white;"></div>
<div class="service-backgtound-2" id="service-backgtound-2">
    <div class="container-fluid">
        <div class="row d-flex flex-column align-items-center justify-content-center pt-5">
            <div class="col-12 col-md-10">
                    <h2 class="text-center">GOOD MORNING! <br> TODAY THINK ONLY ABOUT GETTING EXCITED</h2>
                    <p class="lead">Present everywhere in the world, the Authorized Lamborghini Dealers are ready to offer you an exclusive and personalized service to guide you through every step of your Lamborghini experience.  Whatever your requirement may be, a qualified team will support you from the time you make your purchase, up to after-sales. Whether it is new or used, it doesn’t matter: driving a Lamborghini is a unique thrill to be experienced and cherished.</p>
                </div>
            </div>
        </div>
    </div>
<div style="border: 1px solid white;"></div>
</div>




{% endblock %}